@use 'variables';

.app-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}


.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

section {
  padding: var(--spacing-xl) 0;
  position: relative;
}
